HELP.md
API/target/
API/!.mvn/wrapper/maven-wrapper.jar
API/!**/src/main/**
API/!**/src/test/**

### STS ###
API/.apt_generated
API/.classpath
API/.factorypath
API/.project
API/.settings
API/.springBeans
API/.sts4-cache

### IntelliJ IDEA ###
API/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
API/nbproject/private/
API/nbbuild/
API/dist/
API/nbdist/
API/.nb-gradle/
API/build/

### VS Code ###
API/.vscode/

### Security Sensitive ###
API/src/main/resources/application-prod.properties

API/.idea/
API/src/main/resources/application-prod.properties
API/src/main/resources/application-prod.properties

.idea/

Website/school-dismissal-app/node_modules
Frontend_ReactNative/.expo/
Frontend_ReactNative/node_modules
API/src/main/resources/application-prod.properties
